{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url(https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260)">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Good day. I’d like to take a moment and introduce myself to you. My name is Kemal and I would love to take a chance and apply for an open position as Junior Python-Dev. My last work position was a People Relations in Casino and my duties mainly consist of assisting high-level executives with any business matters they have, along with maintaining professional relationships with offices and people that interact with our business.

Throughout years of working in customer service, I’ve learned how to quickly learn and satisfy the needs of customers and coworkers and I believe I could be a good addition to your team. I understand that my work experience has nothing to do with programming, but my passion has always been creating something new, which makes me familiar with many of ways used for development. Unfortunately, I wouldn’t be able to provide a link to my commercial portfolio, due to a different field of my professional activity, but this opportunity is exactly where I dream of working and growing, and I will be extremely happy if I was presented the opportunity to work for you.

I would highly appreciate it if you take the time to review my resume and get back to me if you have any additional questions or concerns at any time you’d be comfortable. Thank you in advance for your attention.
        </p>
       <p>Sincerely,   <a href="{{ url_for('download') }}">Kemal Kalandarov</a></p>
                <h5>P. S.</h5>
        <p>All projects in this blog were developed based on the tasks from the course
          <a href="https://www.udemy.com/course/100-days-of-code/"> 100 Days of Code - The Complete Python Pro Bootcamp for 2021</a>
          On <a href="https://www.udemy.com/">Udemy</a>, Author: Incredible  Dr. <a href="https://www.linkedin.com/in/angela-yu-963a584b/">Angela Yu</a>
        </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
